# Git
.git
.gitignore
.gitattributes

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Dataset files
*.csv

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.vscode
.idea

# Misc
*.log
.DS_Store
